//aboutview.scss

#aboutview_area {position: relative; width: 1440px; height: 890px;
  background: {image:url('../multi/img/about_banner.png');
    repeat:no-repeat;
    position:50% 50% ;
    size: cover;            
    }
    .explain_box {width: auto; height: auto; position:absolute; top: 35%; left: 14%;  color:#fff; font-family: sans-serif;text-align: start; }
    h2{font-size: 70px; font-weight: lighter; margin-bottom: 20px;
      & span { font-weight: bold;}    
    }
    & p {font-size: 20px; }
    & p:nth-of-type(3) {width: 180px; height: 40px;  margin-top: 50px; border: 1px solid #fff;
    border-radius: 40px;
      & a {display: block; width: 100%; height: 100%; text-align: center; line-height: 40px;}
    }
    .md_box {position: absolute;  left:calc(50% - 300px); bottom: -33px; display: flex; justify-content: space-around;
      width: 760px; height: 66px; background-color: #ffe854; align-items: center;  
      font-family:sans-serif; border-radius: 10px; color: #541586; text-transform: uppercase; 
      & p{font-size: 18px;}
      & p:nth-child(1) {width: 600px; height: auto;  border-right: 1px solid #541586;}
      & p:nth-child(2) {width: auto; height: auto; font-weight: bolder; transform: translateX(-10px); }
  }
  
    
  }