//header

#headBox {position: fixed; top: 0; left:calc(50% - 720px); z-index: 10; display: flex; justify-content: space-between;  padding: 0px 100px;
width: 1440px; height: 140px; background-color: rgba(#777,0.5); margin: auto; color: #fff;
font-family:sans-serif; text-transform: capitalize; font-weight: 600;}

  .gnb {display: flex; justify-content: space-around; align-items: center; width: 650px; height: auto; 
    &> li {width: auto; height: auto; font-size: 18px;      
      &> a {width: auto; height: auto; }
    }
    &>li:nth-child(1) a {display: block; width: 80px; height: 24px;  background: {image:url('../multi/img/icon_logo.c4e2918b.svg');
      repeat:no-repeat;
      position:0 0 ;
      size: contain;            
      }
    }      
  }

  .unb {display: flex; justify-content:space-around; align-items: center; width: 250px; height: auto;
    &> li {width:80px; height: auto; margin: auto; font-size: 16px; border: 2px solid #fff ; border-radius: 10px;
      &> a {display: block; width: 80px; height: auto; }
    }
  }

