//lounge.scss

#lounge_area {width: 1440px; height:auto; min-height: 600px; padding: 200px 80px;
font-family: sans-serif; text-transform: uppercase; 
  h2 {width: auto; height: auto; font-size: 60px; font-weight: lighter; text-align: start;}
  p {font-size: 16px; text-align: start; color: #666;}
}