//Main_banner

#Main_banner {position: relative; width: 100%; height: auto; min-height: 600px; 
  background-color: aqua; margin: auto;
  background: {image:url('../multi/img/main_benner_img.766085fd.jpg');
    repeat:no-repeat;
    position:50% 50% ;
    size: cover;            
    }
    .explain_box {width: auto; height: auto; position:absolute; top: 40%; left: 10%;  color:#fff; font-family: sans-serif;}
    h2{font-size: 48px; font-weight: lighter; margin-bottom: 20px;
      & span { font-weight: bold;}
    }
    p {text-align: left; }

    .md_box {position: absolute;  left:calc(50% - 300px); bottom: 40px; display: flex; justify-content: space-around;
        width: 600px; height: 50px; background-color: #ffe854; align-items: center;
      font-family:sans-serif; border-radius: 10px; color: #541586;  
    & p:nth-child(1) {width: 510px; height: auto; border-right: 1px solid #541586;}
    & p:nth-child(2) {width: auto; height: auto; font-weight: bolder; }
    }
    
}