//today.scss

#today_ozic {
  width: 1280px; height: 340px; margin: auto; font-family: sans-serif;

  .tag_area { display: flex; justify-content:flex-start; padding: 0 20px; align-items: center;
    width: 100%; height: auto;
    & h2 {font-size: 28px; }
    & .f_p { width: 33px; height: 22px; font-size: 15px; background-color: #541586; border-radius: 8px; color:#fff; 
    margin:0px 10px}
    & .s_p {font-size: 16px; color: #777;}
  }
  .con_area {display: flex; justify-content: space-between; align-items: center; width: 1280px;  height: 300px; font-family: sans-serif;  
    padding: 0px 30px;    
    & li{ width: 550px; height: 280px;
      .toozic_01 {width: 100%; height: auto;  font-size: 18px; font-weight: bold; 
      }
      .toozic_02{ width: 100%; height: auto;
      margin-top: 20px;}
      .oziclistens {width: 80px; height: 40px; background-color: rgba(#fff, 0.3);margin-top: 50px;
      border-radius: 40px;
      }
      & a {display: block; width: 100%; height: 100%;
      text-align: center; line-height: 40px;
      }
    }

    & .bcg_img { padding: 30px 20px;
      color: #fff;text-align: left;      
      background: {image:url('../multi/img/cont_blue.png');
      repeat:no-repeat;
      position:50% 50% ;
      size: contain;            
      } 
      border-radius: 20px;}
    & .bcg_img_02 {text-transform: uppercase;    
      & >ul {width: 100%; height: 280px; overflow-y: scroll;
      & >li {display: flex; justify-content:space-between; align-items: center; width: 100%; height: 50px; padding: 0px 10px ; background-color: rgba(#777,0.2); border-radius: 50px; margin-bottom: 10px;
        & p {width: 300px; height: auto; text-align: start;}
        & a {display: block; width: 100px; height: auto;}
        }
      }
    }

  }
}
